xarray
pandas
geopandas
rioxarray
rasterio
h5netcdf
matplotlib
flask
fastapi

Flask
gunicorn
google-events
cloudevents
google-cloud-storage
requests
google-cloud-datastore
dask
zarr
gcsfs
uvicorn[standard]

scipy

flask[async]

